/*img {
    width: 200px;
}*/
 
body {
    /*background: url(http://68.media.tumblr.com/a341ef6b0025480783ae9c38d8b55c55/tumblr_nqsztztjbZ1qciqqno4_500.gif) no-repeat;
    background: url(https://i.gyazo.com/5b88250c690890c134a934ce507f6ba9.jpg);
    background-size: 50%;*/
    background: -webkit-linear-gradient(-45deg, #8363a1 0%, #74a8c3 100%);
    background: linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
    background-size: 100%;
    /*border: 1px solid rgba(255, 255, 255, 0.9);*/
    text-align: center;
    font-family: "Arial";
    font-size: 10;
}

html, body {
    height: 100%;
    width: 100;
  }
/*

html, body {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #F7F8FB;
  height: 100%;
  -webkit-font-smoothing: antialiased; }
  
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }